:root {
  /*╔════════════════════════════╗
              COLORS
    ╚════════════════════════════╝*/

  --clr-bg-0: rgb(20, 20, 20);
  --clr-bg-1: rgba(20, 20, 20, 0.8);

  --clr-txt-0: black;
  --clr-txt-1: white;
  /*╔════════════════════════════╗
          COMPONENT DIMENSION
    ╚════════════════════════════╝*/
  /* width */
  --wdt-container-xl: 80rem;
  /* hgt */
  --hgt-header: 4rem;
  --hgt-item-lg: 4.5rem;
  --hgt-item-sm: 2.5rem;

  /*╔════════════════════════════╗
                GUTTERS
    ╚════════════════════════════╝*/
  --space-unit: 1rem;
}
